<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, id: :badge_title %>
  </div>

  <div class="form-group">
    <% @images.each do |image| %>
      <%= form.radio_button :file_name, "badges/#{image.split('/').last}" %>
      <%= image_tag "badges/#{image.split('/').last}" %><br>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :badge_type, class: "form-label" %>
    <%= form.collection_select :badge_type, Badge.badge_types, :first, :first, prompt: true %>
  </div>

  <div class="form-group">
    <%= form.label :achievement_condition, class: "form-label" %>
    <%= form.text_field :achievement_condition, id: :achievement_condition %>
    <p>Use category name for all_category badge, or level number for all_level. For first_try - please skip this field</p>
  </div>

  <div class="form-group"><%= form.submit class: "btn btn-primary" %></div>
<% end %>

<p>
  <%= link_to t('.back_to_badges'), admin_badges_path%>
</p>