<h1><%= t('.header', title: @test_passage.test.title) %></h1>
<b><%= @test_passage.success? ? t('.passed') : t('.failed') %></b>
<b>
  <%= t('.result') %>
  <span
    style="color:<%= @test_passage.success? ? 'green' : 'red' %>"><%= @test_passage.result %>%
  </span>
</b>

<p>
  <%= link_to t('.back_to_tests'), tests_path %>
</p>