<%= link_to 'TestGuru', root_path %>
<% if logged_in? %>
  <%= link_to 'LogOut', logout_path, method: :delete %>
  <p class="nav user">Welcome, <b><%= current_user.email %></b> Guru</p>
<% else %>
  <%= link_to 'Registration', signup_path %>
  <%= link_to 'Login', login_path %>
<% end %>